---
layout: default
body_classes: page-post
---

{% if page.hero.enabled %}
  {% include framework/blocks/sections/hero.html 
    heading=page.hero.heading
    sub_heading=page.hero.sub_heading
    text_color=page.hero.text_color
    background_image=page.hero.background_image
    background_image_blend_mode=page.hero.background_image_blend_mode
    background_color=page.hero.background_color
    background_gradient=page.hero.background_gradient
    fullscreen_mobile=page.hero.fullscreen_mobile
    fullscreen_desktop=page.hero.fullscreen_desktop
    height=page.hero.height
    buttons=page.hero.buttons
  %}
{% else %}
  <div class="section">
    <div class="container">
    {% include framework/blocks/sections/title.html
      fa_icon=page.fa_icon
      icon=page.icon
      title=page.title
      description=page.description
      image=page.image
    %}
    </div>
  </div>
{% endif %}

<style>
  .container-btn {
    width: 180px;
    float: left;
    margin: 3px;
  
  }
  </style>

<div class="section">
  <div class="container post-header">

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
         
          <div class="post-title">
            <h1>{{ page.manufacturer }} {{ page.Name }}<br/></h1>
            <h4>{{ page.category }}<br/></h4>
          </div>

          <div>
            
            {% if page.availability==1 %}
            <span class="dostepny">Serwis dostępny</span>
            
            {% elsif page.availability==0 %}
            <span class="zamowienie">Na zamówienie</span>

            {% else %}
            <span class="niedostepny">Niedostępny</span>
            {% endif %}
          <br><br/>

          </div>
          
          <span class="container-buttons">
            {% if page.availability==0 %}<div class="container-btn"><a href="/contactform?t=new&prno={{ page.Name }}"><button class="btn_blu" type="button">Zapytaj o produkt</button></a></div>{% endif %}{% if page.availability==1 %}<div class="container-btn"><a href="/contactform?t=naprawa&prno={{ page.Name }}"><button class="btn_blu" type="button">Zapytaj o naprawę</button></a></div>{% endif %}<br><br/>
          </span>
        
          
          {% if page.Price %}
          <div class="post-description">
            <p><br/>Cena: {{ page.Price }}</p>
          </div>
        {% endif %}


          {% if page.description %}
            <div class="post-description">
              <p>{{ page.description }}</p>
            </div>
          {% endif %}

      

          
      </div>
    </div>
          
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {% if page.image %}
          <div class="post-image">
            <img src="{{ page.image }}" alt="{{ page.title }}" />
          </div>
        {% endif %}
      </div>
    </div>

  </div>
</div>

<div class="section pt-0">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-lg-8">
        <div class="content">{{ content }}</div>
      </div>       
    </div>
  </div>
</div>
