---
layout: default
body_classes: page-contact
---

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> <!-- or use local jquery -->
<script src="/assets/js/jqBootstrapValidation.js"></script>

{% if page.hero.enabled %}
  {% include framework/blocks/sections/hero.html 
    heading=page.hero.heading
    sub_heading=page.hero.sub_heading
    text_color=page.hero.text_color
    background_image=page.hero.background_image
    background_image_blend_mode=page.hero.background_image_blend_mode
    background_color=page.hero.background_color
    background_gradient=page.hero.background_gradient
    fullscreen_mobile=page.hero.fullscreen_mobile
    fullscreen_desktop=page.hero.fullscreen_desktop
    height=page.hero.height
    buttons=page.hero.buttons
  %}
{% else %}
  <div class="section">
    <div class="container">
    {% include framework/blocks/sections/title.html
      fa_icon=page.fa_icon
      icon=page.icon
      title=page.title
      description=page.description
      image=page.image
    %}
    </div>
  </div>
{% endif %}

<style>
  .container-btn {
    width: 180px;
    float: left;
    margin: 3px;
  
  }
  </style>

<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/itechelectronics?background_color=000000&text_color=ffffff&primary_color=00b7ff" style="min-width:250px;height:800px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->

<script>
  $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
</script>

<div class="section strip-border-top">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-lg-12">
        <div class="content">

          <form id="contactForm"
          action="https://formspree.io/f/mqkoawze"
          novalidate="novalidate" method="POST">
          <!--name="sentMessage"-->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input name="name" id="name" style="color: black" type="text"
                  placeholder="Imię*"
                  required="required" data-validation-required-message="Proszę wpisać imię.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input name="_replyto" class="form-control" id="email" style="color: black" type="email"
                  placeholder="Email*"
                  required="required" data-validation-required-message="Proszę wpisać adres email.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input name="phone" class="form-control" id="phone" style="color: black" type="tel"
                  placeholder="Telefon*"
                  required="required" data-validation-required-message="Proszę wpisać nr telefonu.">
                <p class="help-block text-danger"></p>
              </div>

              <div class="form-group">
                <input name="nip" class="form-control" id="nip" style="color: black" type="text"
                  placeholder="NIP*"
                  required="required" data-validation-required-message="Proszę wpisać nr NIP.">
                <p class="help-block text-danger"></p>
              </div> 
              


            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea rows=8 name="message" class="form-control" id="message" style="color: black"
                  placeholder="Wiadomość*"
                  required="required" data-validation-required-message="Proszę wpisać wiadomość."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <input type="hidden" name="_subject" value="Wiadomość z formularza kontaktowego" id="email-subject">
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <div class="container-btn">
              <button id="sendMessageButton" class="btn_blu"
                type="submit">Wyślij wiadomość</button></div>
            </div>
            <input type="text" name="_gotcha" style="display:none">
            <input type="hidden" name="_next" value="#" />
          </div>
        </form>


        </div>
      </div>
    </div>
  </div>
</div>